  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">
      <div class="logo">
        <img src="../assets/logo.svg" alt="" class="Company Img">
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#Home">Home</a></li>
          <li><a class="nav-link scrollto" href="#Property">Property Search</a></li>
          <li><a class="nav-link scrollto" href="#Tools">Tools</a></li>
          <li><a class="nav-link scrollto" href="#About">About</a></li>
          <li><a class="nav-link scrollto" href="#Contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url(assets/headerimage1.png)">
            <div class="carousel-container">
              <div class="container">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main id="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Featured Property</h2>
        </div>
      </div>
    </div>


    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                      <div class="single-well">
                        <a href="#">
                          <img src="assets/img/about/1.jpg" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <a href="#">
                  <h4 class="sec-head">R1,100,000</h4>
                </a>
                <p>
                  4 bedroom house for sale stellenbosch
                </p>
                <ul>
                  <li>
                    
                  </li>
                </ul>
                <p>
                  this stylish single-levelS Cowies Hill home showcases high-Quality finish, an easy indoor.outdoor...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="team" class="our-team-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                  <img src="assets/CTA1.png" alt="">
              </div>
              <div class="team-content text-center">
                <h4>Morgate Calculator</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                  <img src="assets/CTA2.png" alt=""> 
              </div>
              <div class="team-content text-center">
                <h4>Contact Us</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                  <img src="assets/CTA3.png" alt="">
              </div>
              <div class="team-content text-center">
                <h4>Follow us on Facebook</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    </main>

  <footer>
    <div class="footer-area">
      <div class="container">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <img src="../assets/Associations/EAAB/Light.png" alt="" class="Company Img">
                  <img src="../assets/Associations/IEASA/Light.png" alt="" class="Company Img">
                </div>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                <div style="display: -webkit-inline-box;">
                <div class="footer-logo" style="width: 50%;">
                  <img src="../assets/footer-icon.svg" alt="" class="Company Img">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"> <img src="../assets/Facebook.svg" alt="" class="Company Img"></a>
                    </li>
                    <li>
                      <a href="#"> <img src="../assets/YouTube.svg" alt="" class="Company Img"></a>
                    </li>
                    <li>
                      <a href="#"> <img src="../assets/Twitter.svg" alt="" class="Company Img"></a>
                    </li>
                  </ul>
                </div>
              </div>     

            </div>
          </div>
        </div>
      </div>
  </footer>